@model List<PanelNewTienda.Models.CarritoItem>

@{
    ViewData["Title"] = "CarritoDeCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CarritoDeCompras</h1>


@if (Model.Count() <= 0)
{

    <div>No hay Productos en tu Carrito</div>

}
else
{

    <form asp-action="ActualizarCarritoDeCompras" asp-controller="Home" method="post">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Vendedor</th>
                    <th scope="col">  @Html.DisplayNameFor(model => Model[0].Producto)</th>
                    <th scope="col">@Html.DisplayNameFor(model => Model[0].Cantidad)</th>
                    <th scope="col"> @Html.DisplayNameFor(model => Model[0].PrecioCarritoItem)</th>

                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tr>

                        <th scope="row">

                            <input type="hidden" asp-for="@Model[i].IdTienda" />
                            Tienda @Html.DisplayFor(modelItem => @Model[i].IdTienda)

                        </th>

                        <td>
                            <input type="hidden" asp-for="@Model[i].Producto.IdProducto" />
                            @Html.DisplayFor(modelItem => @Model[i].Producto.NombreProducto)
                        </td>

                        <td>

                            <input asp-for="@Model[i].Cantidad" type="number" class="botonesCantidad" data-decimals="0" min="1" max="20" />

                        </td>

                        <td>

                            @Html.DisplayFor(modelItem => @Model[i].PrecioCarritoItem)
                        </td>

                        <td>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="EliminarProductoDeMiCarrito" asp-route-id="@Model[i].Producto.IdProducto">Eliminar</a>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />

    </form>



}





