
@model List<PanelNewTienda.Models.CarritoItem>

@{
    ViewData["Title"] = "CarritoDeCompras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Checkout</h1>


@if (Model.Count() <= 0)
{

    <div>No hay Productos en tu Carrito</div>

}
else
{

    <form method="post">




        @foreach (var nroTienda in @ViewBag.listaNrosTiendas)
        {
            double totalTienda = 0;


            <table class="table table-striped">

                <thead>
                    <tr>
                        <th scope="col"> Vendedor</th>
                        <th scope="col">  @Html.DisplayNameFor(model => Model[0].Producto)</th>
                        <th scope="col">@Html.DisplayNameFor(model => Model[0].Cantidad)</th>
                        <th scope="col"> @Html.DisplayNameFor(model => Model[0].PrecioCarritoItem)</th>
                        <th></th>
                    </tr>
                </thead>


                @for (var i = 0; i < Model.Count(); i++)
                {





                    @if (@Model[i].IdTienda == nroTienda)
                    {






                        <tbody>




                            <tr>

                                <th scope="row">

                                    <input type="hidden" asp-for="@Model[i].IdTienda" />
                                    Tienda @Html.DisplayFor(modelItem => @Model[i].IdTienda)

                                </th>

                                <td>
                                    <input type="hidden" asp-for="@Model[i].Producto.IdProducto" />
                                    @Html.DisplayFor(modelItem => @Model[i].Producto.NombreProducto)
                                </td>

                                <td>
                                    <input type="hidden" asp-for="@Model[i].Cantidad" />
                                    @Html.DisplayFor(modelItem => @Model[i].Cantidad)
                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => @Model[i].PrecioCarritoItem)
                                    @{totalTienda += @Model[i].PrecioCarritoItem;}
                                </td>

                                <td>
                                </td>

                            </tr>




                        </tbody>




                    }




                }


                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <th scope="row">Total:</th>
                        <th scope="row">@totalTienda</th>
                        <td>
                          
                            <a class="btn btn-primary" asp-controller="Home" asp-action="PedirPorWhatsapp" asp-route-id="@nroTienda">Pedir por Wsp</a>

                        </td>
                    </tr>
                </tfoot>

            </table>


            <br />

        }


    </form>



}





