@model IEnumerable<PanelNewTienda.Models.Tienda>
@{
    ViewData["Title"] = "Lista Tiendas";
}
@*@inject PanelNewTienda.Services.NewTiendaService service*@


<div class="text-center">
    <h5>Tiendas Publicadas</h5>
</div>



@if (Model.Count() > 0)
{
    foreach (var tienda in Model)
    {



<div class="card border-secondary mb-3 mr-3 d-inline-block" style="width: 18rem;">



    <div class="card-header">
        @Html.DisplayFor(modelProd => tienda.NombreTienda)
    </div>

    <div class="card-body">

       
     

        <div class="card-group">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-facebook"></i> : @Html.DisplayFor(m => tienda.RedSocial.Facebook)</li>
                <li class="list-group-item"><i class="fa fa-instagram"></i> : @Html.DisplayFor(m => tienda.RedSocial.Instagram)</li>
                <li class="list-group-item"><i class="fa fa-whatsapp"></i> : @Html.DisplayFor(m => tienda.RedSocial.Whatsapp)</li>
                <li class="list-group-item"><i class="fa fa-twitter"></i> : @Html.DisplayFor(m => tienda.RedSocial.Twitter)</li>
                <li class="list-group-item"><i class="fa fa-envelope"></i> : @Html.DisplayFor(m => tienda.RedSocial.Email)</li>

            </ul>
        </div>




    </div>

    <div class="card-footer">

       
        <a class="btn btn-primary" asp-controller="Home" asp-action="VerProductosDeTienda" asp-route-id="@tienda.IdTienda">Ver Productos</a>
        
        

    </div>


</div>





    }
}
else
{
    <div> no hay tiendas</div>
}


