@model PanelNewTienda.Models.Producto

@{
    ViewData["Title"] = "EliminarProducto";
}

<h1>EliminarProducto</h1>

<h3>Seguro que desea eliminar el producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTienda)
        </dd>
    </dl>
    
    <form asp-action="EliminarProducto">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar Producto " class="btn btn-danger" /> |
        <a asp-controller="Vendedores" asp-action="Productos">Regresar</a>
    </form>
</div>
