@model PanelNewTienda.Models.Tienda
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card-deck">


    <div class="card border-secondary mb-3">
        <div class="card-header">Tienda</div>
        <div class="card-body">
            <h5 class="card-title">Nombre actual:</h5>
            <h4 class="card-title"><strong>@Html.DisplayFor(model => model.NombreTienda)</strong></h4>
            <p>Tienda Nro @ViewBag.NroTienda</p>
            <div class="card-group">
                @{
                    if (Model.Publicada == true)
                    {
                        <span class="badge badge-success">Tienda Publicada</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Tienda No Publicada</span>
                    }

                }
            </div>
            <p class="card-text">Puedes editar el nombre de la tienda en cualquier momento.</p>

            <a class="btn btn-outline-dark" asp-controller="Vendedores" asp-action="EditarNombreTienda" asp-route-id="@Model.IdTienda">Modificar</a>

        </div>
    </div>


    <div class="card border-secondary mb-3">
        <div class="card-header">
            Tus Redes Sociales
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-facebook"></i> : @Html.DisplayFor(m => m.RedSocial.Facebook)</li>
            <li class="list-group-item"><i class="fa fa-instagram"></i> : @Html.DisplayFor(m => m.RedSocial.Instagram)</li>
            <li class="list-group-item"><i class="fa fa-whatsapp"></i> : @Html.DisplayFor(m => m.RedSocial.Whatsapp)</li>
            <li class="list-group-item"><i class="fa fa-twitter"></i> : @Html.DisplayFor(m => m.RedSocial.Twitter)</li>
            <li class="list-group-item"><i class="fa fa-envelope"></i> : @Html.DisplayFor(m => m.RedSocial.Email)</li>

        </ul>
        <div class="card-footer">
            <a class="btn btn-outline-dark" asp-controller="Vendedores" asp-action="EditarRedesSociales" asp-route-id="@Model.RedSocial.IdRedSocial">Modificar</a>
        </div>
    </div>



    <div class="card border-secondary mb-3">
        <div class="card-header">
            Tu Tienda
        </div>
        <div class="card-body">
            <h5 class="card-title">Catálogo de Productos</h5>
            <p class="card-text">Crea, edita o Publica tus productos.</p>
            <a asp-area="" asp-controller="Productos" asp-action="CrearProducto" class="btn btn-outline-dark">Crear Producto</a>
            <a asp-area="" asp-controller="Vendedores" asp-action="Productos" class="btn btn-outline-dark">Ver Productos</a>
        </div>
        <div class="card-footer text-muted">
            <div class="badge badge-info">
                @ViewBag.CantProdPublicados productos publicados
            </div>
            
            <div class="badge badge-info">
                @ViewBag.CantProdPublicadosTotal productos en total
            </div>

        </div>
    </div>






</div>